body {
  background-image: url("/assets/fondo.jpg");

  background-size: cover;

  background-position: center;

  background-attachment: fixed;

  min-height: 100vh;
}
.card{
  max-width: 350px;
  min-width: 200px;
}